{"format":"CSS","title":"tei-lite","body":"body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px}
span.italics { font-style: italic } 
span.emph { font-style: italic } 
span.foreign { font-style: italic } 
span.bold { font-weight: bold; } 
span.gloss { font-style: normal }
span.speaker { font-size: 12px; font-weight: bold } 
span.label { font-style: normal }
span.mentioned { font-style: italic }
span.term { font-style: italic }
span.speaker { font-weight: bold }
span.name { font-style: normal }
span.soCalled { font-style: normal }
span.title { font-size: 18px }
span.unclear { color: darkgrey }
span.rs { font-style: normal }
span.date { font-style: normal }
span.time { font-style: normal }
span.num { font-style: normal }
span.biblScope { font-style: normal }
span.editor { font-style: normal }
span.publisher{ font-style: normal }
span.pubPlace { font-style: normal }
span.w { font-style: normal }
span.pc { font-style: normal }
span.eg { font-style: normal }
span.code { font-family: Courier, monospace }
span.ident { font-family: Courier, monospace }
span.gi { font-family: Courier, monospace }
span.att { font-family: Courier, monospace }
span.val { font-family: Courier, monospace }
span.docAuthor { font-size: 16px }
span.docDate { font-style: 12px }
span.docEdition { font-style: 12px }
p.p {}
p.title { font-size: 18px }
div.preface {}
div.dedication { font-style: italic }
div.abstract { font-weight: bold }
div.acknowledgements { font-style: normal }
div.contents { font-size: 16px }
div.frontispiece { font-size: 16px }
h3.head {}
h3.head-italic { text-align: center; font-weight: bold; font-style: italic; font-size: 18px } 
br.l {} 
br.l-M {} 
br.l-F {} 
div.lg { margin-top: 12px }
div.stanza { margin-top: 12px }
div.sp {}
p.stage-italic { font-style: italic; font-size: 14px }
ol.list-ordered { list-style: decimal }
ul.list-bulleted { list-style: disc }
ul.list-gloss { list-style: none }
ul.list { list-style: none }
ul.list-gloss { list-style: none }
div.listBibl { margin-top: 12px; margin-bottom: 12px }
li.item {}
p.bibl {}
table.table {}
tr.row {}
td.cell {}
div.figure { margin-top: 12px; margin-bottom: 12px }
p.figDesc { font-style: italic; text-align: center; font-size: 12px }
span.s {}
span.formula {}
div.divGen { margin-top: 12px; margin-bottom: 12px }
div.address { margin-top: 12px; margin-bottom: 12px }
p.addrLine {}
div.titlePage { margin-top: 48px; margin-bottom: 48px }
p.docTitle { font-size: 24px; text-align: center }
p.titlePart { text-align: center }
p.byline  { text-align: center }
div.docImprint { margin-top: 12px; margin-bottom: 12px; text-align: center }
p.epigraph { margin-top: 12px; margin-bottom: 12px; text-align: center }
p.salute { margin-top: 12px; margin-bottom: 12px; text-align: center }
p.signed { margin-top: 12px; margin-bottom: 12px }
p.dateline { margin-top: 12px; margin-bottom: 12px }
div.argument { margin-top: 12px; margin-bottom: 12px }
p.cit { margin-top: 6px; margin-bottom: 6px }
div.opener { margin-top: 12px; margin-bottom: 12px }
div.closer { margin-top: 12px; margin-bottom: 12px }
br.lb {}
a.anchor { -aese-id: id }
span.gap {}
span.desc { font-style: italic }
a.ref { -aese-target: href }
a.ptr { -aese-target: href }
span.indexterm { /*css underdotted*/ }
img.graphic { -aese-url: src }
blockquote.quote { margin-left: 5%; }
"}
